@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Press+Start+2P&family=The+Nautigal:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Mukta', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'The Nautigal', cursive;
font-size: 30px;
/* FONDO */
background-image: url('./static/fondo-persona5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}
$light:#fff;
$gray:#c4ccde;

.flex{
  display: flex;
}

.navbar{
  background-color: $light;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;
}
  